*{
    font-family: 'Courier New', Courier, monospace;
}



.item1 { 
  grid-area: header;
  height: 200px; 
  width: 100%;
  background-color: darkslategrey;}
.item2 { 
  grid-area: menu; }
.item3 { 
  grid-area: main;
  height: 400px;
  width: 100%;
  background-color: darkslategray; }
.item5 { 
  grid-area: footer;
  height: 300px;
  width: 100%;
  background-color: red; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main menu menu menu'
    'footer footer footer menu menu menu';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
section h1{
  background-color: black;
  color: white;
  margin-top: -1px;
  font-size: 40px;
}
section img{
  margin-left: 20px;
  margin-top: -10px;
}
.ibagem{
  display: block;
  float: left;
  height: 270px;
  width: 300px;
}
.sub-title{
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: -7px;
}
section h2{
  color: white;
}
section p{
  display: block;
  width: 35 0px;
  color: white;
  margin-top: 80px;
  margin-left: 344px;

}

header p{
  margin-top: 182px;
  background-color: black;
  color: white;
}





  
  
