*{
    font-family: 'Courier New', Courier, monospace;
}



.item1 { 
  grid-area: header;
  height: 200px; 
  width: 100%;
  background-color: darkslategrey;
}
.item2 { 
  background-color: green;
  grid-area: menu; 
  width: 450px;
}

.item3 { 
  grid-area: main;
  height: 1342px;
  width: 100%;
  background-color: darkslategray; }

.item5 { 
  grid-area: footer;
  height: 50px;
  width: 100%;
  background-color: grey;
  }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main menu menu'
    'footer footer footer footer footer footer';
  gap: 0px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
section h1{
  background-color: black;
  color: white;
  margin-top: -1px;
  font-size: 40px;
}
section img{
  margin-left: 20px;
  margin-top: -10px;
}
.ibagem{
  display: block;
  float: left;
  height: 270px;
  width: 300px;
}
.sub-title{
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: -7px;
}
section h1{
  color:white;
  font-size: 30px;
}

section h2{
  color: white;
}
section p{
  display: block;
  width: 350px;
  color: white;
  margin-top: 80px;
  margin-left: 344px;

}

aside{
  margin-left: 50px;
}

.caixa-menu1{
  background-color: white;
  width: 500px;
  height: 60px;
  margin: 20px;
}

.caixa-menu2{
  background-color: white;
  width: 500px;
  height: 250px;
  margin: 20px;
}

.cabecalho-caixa2{
  width: 500px;
  height: 60px;
  background-color: var(--cinzae);
}

.caixa-menu3{
  background-color: var(--cinza);
  width: 500px;
  height: 500px;
  margin: 20px;
  padding: 1px;
}

.caixa-menu3-img1{
  width: 240px;
  height: 240px;
  background-color: white;
  margin: 0px;
}

.caixa-menu3-img2{
  width: 240px;
  height: 240px;
  background-color: white;
  margin: 20px;
  margin-left :260px;
  margin-top: -240px;
}

header p{
  margin-top: 182px;
  background-color: black;
  color: white;
}


.caixa-menu3-img3{
  width: 240px;
  height: 240px;
  background-color: white;
  margin: 0px;
}

.section1{
  display: block;
  float: left;
  grid-area: main;
  height: 400px;
  width: 98%;
  background-color: darkslategrey;
  border: 11px solid white;
  margin-left: 1px;
} 

.caixa-menu3-img4{
  width: 240px;
  height: 240px;
  background-color: white;
  margin: 0px;
  margin-left :260px;
  margin-top: -240px;
}

.section2{
  display: block;
  float: left;
  grid-area: main;
  height: 700px;
  width: 330px;
  background-color: darkslategrey;
  border: 11px solid white;
  margin-left: 1px;
} 
.section3{
  display: block;
  float: left;
  grid-area: main;
  height: 700px;
  width: 330px;
  background-color: darkslategrey;
  border: 11px solid white;
  margin-left: 1px; 
} 

.info{
  display: block;
  height: 50px;
  width: 330px;
  background-color: black;
  color: white;
  text-align: center;
}
.texto{
  font-size: 20px;
  margin-left: 3%;
}
.texto-principal{
  margin-left: 3%;
}
li{
  margin-left: 3%;
  font-size: 20px;
  color: white;
}
.mais{
  text-align: center;
}